<header>
  <div class="row">
    <div class="col-10">
      <h1>
        <a routerLink="/home">
          <img src="assets/images/company.logo.svg" alt="">
        </a>
      </h1>
    </div>
    <div class="col-2 text-right">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a (click)="logout()"><i class="fa fa-sign-out"></i> Salir</a></li>
        </ul>
      </div>
    </div>    
  </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>